<div class="pae row text-center">
{{!-- odds mods --}}
	<div class="col mb-8">
		<div class="pae-icon">
		<svg class="icon icon-turtle"><use xlink:href="#icon-turtle"></use></svg>
		</div>
		<h4 class="pae-title uppercase">ODD'S MODS</h4>
		<div class="pae-des">Quality of life mods that make sense.</div>
			<a class="button is-light font-medium text-sm capitalize godo-tracking" 
				href="https://oddsmods.xyz/FO4"
				target="_blank"
				rel="noopener noreferrer">
				<i class="fab fa-xbox"></i> <span>Fallout 4</span>
			</a> 
			<a class="button is-light font-medium text-sm capitalize godo-tracking" 
				href="https://oddsmods.xyz/FO4PS4"
				target="_blank"
				rel="noopener noreferrer">
				<i class="fab fa-playstation"></i> <span>Fallout 4</span> 
			</a>
			<a class="button is-light font-medium text-sm capitalize godo-tracking" 
				href="https://oddsmods.xyz/SSE" 
				target="_blank"
				rel="noopener noreferrer">
				<i class="fab fa-xbox"></i> <span>Skyrim SSE</span>
			</a>
	</div>
{{!-- discussion --}}
	<div class="col mb-8">
	<div class="pae-icon"><svg class="icon icon-glass"><use xlink:href="#icon-glass"></use>
	</svg></div>
	<h4 class="pae-title uppercase">JOIN THE DISCUSSION</h4>
	<div class="pae-des"><p>Ask questions, get help, learn load orders, report bugs, make suggestions, share your screenshots and playthrough stories.</p>
	</div>
	<a href="{{@site.url}}/discord/" 
		target="_blank"
        rel="noopener noreferrer" 
		class="button is-light font-medium text-sm capitalize godo-tracking">
		<i class="fab fa-discord"></i> <span>Join Us!</span></a> 
		{{#if @site.twitter}}
			<a href="{{twitter_url}}" 
				target="_blank"
				rel="noopener noreferrer"
				data-event-action="Social"
				data-event-label="Twitter"
				class="button is-light font-medium text-sm capitalize godo-tracking">
				<i class="fab fa-twitter"></i> <span>Follow us!</span>
			</a>
		{{/if}}
</div>
	
</div>
<div class="pae row text-center">
{{!-- Tip Jar --}}
	<div class="col mb-8">
		<div class="pae-icon"><svg class="icon icon-gift"><use xlink:href="#icon-gift"></use></svg></div>
		<h4 class="pae-title uppercase">SUPPORT US</h4>
		<p class="pae-des">Donations welcome.<br>Help us keep our site ad-free.</p>
		<div id="smart-button-container">
      <div style="text-align: center;">
        <div style="margin-bottom: 1.25rem;">
          <p></p>
          <select id="item-options"><option value="" price=""> -  USD</option></select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
      <div id="paypal-button-container"></div>
      </div>
    </div> 
		<a href="https://patreon.com/oddlittleturtle" 
			target="_blank"
			rel="noopener noreferrer"
			class="button is-light font-medium text-sm capitalize godo-tracking">
			<i class="fab fa-patreon"></i> <span>Support</span>
		</a>
		{{#unless @member.paid}}
			<a href="{{@site.url}}/account/plans/" 
				target="_blank"
				rel="noopener noreferrer"
				class="button is-light font-medium text-sm capitalize godo-tracking">
				<i class="fas fa-hand-holding-heart"></i> <span>Support</span>
			</a>
		{{/unless}}
	</div>

{{!-- Moichandizing, moichandizing, moichandizing. Oddlittleturtle the Tee-shirt! --}}
	<div class="col mb-8">
		<div class="pae-icon"><svg class="icon icon-merchandise"><use xlink:href="#icon-merchandise"></use></svg></div>
		<h4 class="pae-title uppercase">Buy Merch</h4>
		<p class="pae-des">Support our site and tell people how you really feel.</p>
		<a href="https://www.redbubble.com/shop/ap/82716579" 
			target="_blank"
			rel="noopener noreferrer"
			class="button is-light font-medium text-sm capitalize godo-tracking">
			<i class="fas fa-coffee"></i> <span>Merch</span>
			</a>
	</div>

</div>
{{!-- Post Commets - partials/article/article-comments.hbs --}}
{{#post}}{{> "article/article-comments"}}{{/post}}

{{#contentFor "scripts"}}
<script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      function initPayPalButton() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
    var quantity = parseInt();
    var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
    if (!isNaN(quantity)) {
      quantitySelect.style.visibility = "visible";
    }
    var orderDescription = '';
    if(orderDescription === '') {
      orderDescription = 'Item';
    }
    paypal.Buttons({
      style: {
        shape: 'pill',
        color: 'silver',
        layout: 'horizontal',
        label: 'donate',
        
      },
      createOrder: function(data, actions) {
        var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
        var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
        var tax = (0 === 0 || true) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
        if(quantitySelect.options.length > 0) {
          quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
        } else {
          quantity = 1;
        }

        tax *= quantity;
        tax = Math.round(tax * 100) / 100;
        var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
        priceTotal = Math.round(priceTotal * 100) / 100;
        var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

        return actions.order.create({
          purchase_units: [{
            description: orderDescription,
            amount: {
              currency_code: 'USD',
              value: priceTotal,
              breakdown: {
                item_total: {
                  currency_code: 'USD',
                  value: itemTotalValue,
                }
              }
            },
            items: [{
              name: selectedItemDescription,
              unit_amount: {
                currency_code: 'USD',
                value: selectedItemPrice,
              },
              quantity: quantity,
              category: 'DONATION'
            }]
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
          
          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for donating!</h3>';

          // Or go to another URL:  actions.redirect('thank_you.html');

        });
      },
      onError: function(err) {
        console.log(err);
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
    </script>
	{{/contentFor}}


